<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerTitle</key>
		<string>基本信息</string>
		<key>headerHeight</key>
		<integer>44</integer>
		<key>footerTitle</key>
		<string>🎠🎠🎠🎠🎠🎠🎠🎠🎠🎠</string>
		<key>footerHeight</key>
		<integer>30</integer>
		<key>rows</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>titleInputCellIdentifier</string>
				<key>accessoryType</key>
				<integer>2</integer>
				<key>height</key>
				<integer>60</integer>
				<key>title</key>
				<string>姓名</string>
				<key>subTitle</key>
				<string>{&quot;content&quot;: &quot;描述&quot;, &quot;fontSize&quot;: 15.0, &quot;color&quot;: &quot;9090a0&quot;}</string>
				<key>description</key>
				<string></string>
				<key>inputText</key>
				<string></string>
				<key>isRequired</key>
				<true/>
				<key>isClicked</key>
				<true/>
				<key>isEditable</key>
				<true/>
				<key>keyboardType</key>
				<integer>5</integer>
				<key>inputPlaceHolder</key>
				<string>请输入</string>
				<key>inputVerificationRegex</key>
				<string>Regular Express String</string>
				<key>inputVerificationMaxCount</key>
				<integer>6</integer>
				<key>inputVerificationDeferedMessage</key>
				<string>请输入姓名</string>
				<key>commitKey</key>
				<string>name</string>
				<key>leadingIcon</key>
				<string></string>
				<key>trailingIcon</key>
				<string></string>
				<key>verificationSegue</key>
				<string>characterCountVerify</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>titleInputCellIdentifier</string>
				<key>accessoryType</key>
				<integer>3</integer>
				<key>height</key>
				<real>60</real>
				<key>title</key>
				<string>年龄</string>
				<key>subTitle</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>inputText</key>
				<string></string>
				<key>isRequired</key>
				<true/>
				<key>isClicked</key>
				<true/>
				<key>isEditable</key>
				<true/>
				<key>keyboardType</key>
				<integer>5</integer>
				<key>inputPlaceHolder</key>
				<string>请输入</string>
				<key>inputVerificationRegex</key>
				<string>Regular Express String</string>
				<key>inputVerificationMaxCount</key>
				<integer>4</integer>
				<key>inputVerificationDeferedMessage</key>
				<string>请输入年龄</string>
				<key>commitKey</key>
				<string>age</string>
				<key>leadingIcon</key>
				<string></string>
				<key>trailingIcon</key>
				<string></string>
				<key>verificationSegue</key>
				<string>characterCountVerify</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>补充信息</string>
		<key>headerHeight</key>
		<integer>44</integer>
		<key>footerTitle</key>
		<string>🎠🎠🎠🎠🎠🎠🎠🎠🎠🎠</string>
		<key>footerHeight</key>
		<integer>30</integer>
		<key>rows</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>titleInputFreeHeightIdentifier</string>
				<key>accessoryType</key>
				<integer>0</integer>
				<key>height</key>
				<integer>-1</integer>
				<key>title</key>
				<string>石黑一雄</string>
				<key>subTitle</key>
				<string></string>
				<key>description</key>
				<string>A Pale View of Hills是石黑一雄处女作，一部问世30年仍在不断重印的名作。小说通过一个移居英国的日本寡妇对故土、故人的回忆，讲述了战后长崎一对饱受磨难的母女渴望安定与新生，却始终走不出战乱带来的阴影与心魔，最终以母女成功移民，而女儿自尽作为悲情结局。作品构思奇特，叙述者通篇的回忆是模糊而可疑的，直至全书终，叙述者才忘记了伪装，读者也证实了猜想：叙述者是利用回忆做掩护，编织了一个他人的故事，企图通过他人的面具来讲述自己的故事，以减轻罪恶感。</string>
				<key>inputText</key>
				<string>查看详情</string>
				<key>isRequired</key>
				<false/>
				<key>isClicked</key>
				<false/>
				<key>isEditable</key>
				<false/>
				<key>keyboardType</key>
				<integer>0</integer>
				<key>inputPlaceHolder</key>
				<string></string>
				<key>inputVerificationRegex</key>
				<string>Regular Express String</string>
				<key>inputVerificationMaxCount</key>
				<integer>5</integer>
				<key>inputVerificationDeferedMessage</key>
				<string></string>
				<key>commitKey</key>
				<string>favo</string>
				<key>leadingIcon</key>
				<string>SmallIcon</string>
				<key>trailingIcon</key>
				<string>CryIcon</string>
				<key>verificationSegue</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
