<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerTitle</key>
		<string> </string>
		<key>headerHeight</key>
		<real>0.1</real>
		<key>footerTitle</key>
		<string> </string>
		<key>footerHeight</key>
		<real>0.1</real>
		<key>rows</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>discussCellIdentifier</string>
				<key>accessoryType</key>
				<integer>0</integer>
				<key>height</key>
				<integer>100</integer>
				<key>title</key>
				<string>看房体验</string>
				<key>subTitle</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>inputText</key>
				<string>这里是我的评论那</string>
				<key>isHidden</key>
				<false/>
				<key>isRequired</key>
				<false/>
				<key>isClicked</key>
				<false/>
				<key>isEditable</key>
				<true/>
				<key>keyboardType</key>
				<integer>0</integer>
				<key>inputPlaceHolder</key>
				<string></string>
				<key>inputVerificationRegex</key>
				<string>Regular Express String</string>
				<key>inputVerificationMaxCount</key>
				<integer>0</integer>
				<key>inputVerificationDeferedMessage</key>
				<string></string>
				<key>commitKey</key>
				<string>comment</string>
				<key>leadingIcon</key>
				<string></string>
				<key>trailingIcon</key>
				<string></string>
				<key>verificationSegue</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>lalalal</string>
		<key>headerHeight</key>
		<integer>40</integer>
		<key>footerTitle</key>
		<string> </string>
		<key>footerHeight</key>
		<real>0.1</real>
		<key>rows</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>titleDescImageCellIdentifier</string>
				<key>accessoryType</key>
				<integer>0</integer>
				<key>height</key>
				<integer>98</integer>
				<key>title</key>
				<string>豪华装修, 附带地暖与车位, 附带地暖与车位, 附带地暖与车位,</string>
				<key>subTitle</key>
				<string>静安区-美丽珊花园小区</string>
				<key>description</key>
				<string>整租, 6000 元/月</string>
				<key>inputText</key>
				<string></string>
				<key>isHidden</key>
				<false/>
				<key>isRequired</key>
				<true/>
				<key>isClicked</key>
				<true/>
				<key>isEditable</key>
				<true/>
				<key>keyboardType</key>
				<integer>5</integer>
				<key>inputPlaceHolder</key>
				<string>请输入</string>
				<key>inputVerificationRegex</key>
				<string>Regular Express String</string>
				<key>inputVerificationMaxCount</key>
				<integer>0</integer>
				<key>inputVerificationDeferedMessage</key>
				<string>请输入姓名</string>
				<key>commitKey</key>
				<string></string>
				<key>leadingIcon</key>
				<string></string>
				<key>trailingIcon</key>
				<string></string>
				<key>verificationSegue</key>
				<string></string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>checkTimeCellIdentifier</string>
				<key>accessoryType</key>
				<integer>0</integer>
				<key>height</key>
				<integer>44</integer>
				<key>title</key>
				<string>看房时间</string>
				<key>subTitle</key>
				<string>2017-11-12 10:30</string>
				<key>description</key>
				<string></string>
				<key>inputText</key>
				<string></string>
				<key>isHidden</key>
				<false/>
				<key>isRequired</key>
				<true/>
				<key>isClicked</key>
				<true/>
				<key>isEditable</key>
				<true/>
				<key>keyboardType</key>
				<integer>5</integer>
				<key>inputPlaceHolder</key>
				<string></string>
				<key>inputVerificationRegex</key>
				<string></string>
				<key>inputVerificationMaxCount</key>
				<integer>0</integer>
				<key>inputVerificationDeferedMessage</key>
				<string></string>
				<key>commitKey</key>
				<string>date</string>
				<key>leadingIcon</key>
				<string></string>
				<key>trailingIcon</key>
				<string></string>
				<key>verificationSegue</key>
				<string>AgeGreaterVerifier</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>titleInputCellIdentifier</string>
				<key>accessoryType</key>
				<integer>0</integer>
				<key>height</key>
				<integer>44</integer>
				<key>title</key>
				<string>租客</string>
				<key>subTitle</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>inputText</key>
				<string></string>
				<key>isHidden</key>
				<false/>
				<key>isRequired</key>
				<true/>
				<key>isClicked</key>
				<false/>
				<key>isEditable</key>
				<true/>
				<key>keyboardType</key>
				<integer>5</integer>
				<key>inputPlaceHolder</key>
				<string>请输入您的姓名</string>
				<key>inputVerificationRegex</key>
				<string>Regular Express String</string>
				<key>inputVerificationMaxCount</key>
				<integer>5</integer>
				<key>inputVerificationDeferedMessage</key>
				<string></string>
				<key>commitKey</key>
				<string>name</string>
				<key>leadingIcon</key>
				<string></string>
				<key>trailingIcon</key>
				<string></string>
				<key>verificationSegue</key>
				<string></string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>checkTimeCellIdentifier</string>
				<key>accessoryType</key>
				<integer>0</integer>
				<key>height</key>
				<integer>44</integer>
				<key>title</key>
				<string>联系方式</string>
				<key>subTitle</key>
				<string>13122334455</string>
				<key>description</key>
				<string></string>
				<key>inputText</key>
				<string></string>
				<key>isHidden</key>
				<false/>
				<key>isRequired</key>
				<true/>
				<key>isClicked</key>
				<false/>
				<key>isEditable</key>
				<false/>
				<key>keyboardType</key>
				<integer>5</integer>
				<key>inputPlaceHolder</key>
				<string>请输入</string>
				<key>inputVerificationRegex</key>
				<string>Regular Express String</string>
				<key>inputVerificationMaxCount</key>
				<integer>11</integer>
				<key>inputVerificationDeferedMessage</key>
				<string></string>
				<key>commitKey</key>
				<string>phone</string>
				<key>leadingIcon</key>
				<string></string>
				<key>trailingIcon</key>
				<string></string>
				<key>verificationSegue</key>
				<string>AgeGreaterVerifier</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
